.wrap
{
	max-width:1234px;
	width:100%;
	padding:0 50px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	display:flex;
	flex-direction:column;
	align-items:center;
	height: 100%;
}

header
{
	background: linear-gradient(to bottom, rgba(65,223,213,1) 0%, rgba(65,223,213,1) 33%, rgba(49,216,217,1) 53%, rgba(12,201,226,1) 100%);
	height: 100vh;
	min-height: 500px;
	width: 100%;
	position: relative;
	z-index: 1;
}

.enteteheader
{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:17px;
	padding-top:35px;
	width:100%;
	z-index:3;
}


.number
{
	background-color:#FFF;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 12px;
	height:12px;
	border-radius: 50%;
	padding:6px;
	margin-left:11px;
}

.enteteheader nav a
{
	text-decoration: none;
	color:#FFF;
}

header nav
{
	display:flex;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	font-weight:500;
}

header span
{
	font-size:12px;
}

.acenter
{
	margin:0 32px;
}

.oboo
{
	margin: 0 268px;
}

.basket{
	display: flex;
}


h1
{
	text-align: center;
	font-size: 72px;
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	color:#FFF;
	margin-top: 240px;
	width:70%;
	z-index:4;
}

header p
{
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	text-align: center;
	color:#FFF;
	width:50%;
	margin-top: 55px;
	margin-bottom: 78px;
	line-height: 25px;
	font-weight:400;
	z-index:4;
}

.imgfille
{
	position:absolute;
	bottom: -2px;
	right: 392px;
	z-index: 3;
	width: 300px;
}

.imgtomate
{
	position:absolute;
	z-index:1;
	top:175px;
	right:258px;
}

.imgfraise
{
	position:absolute;
	z-index:5;
	bottom:-80px;
	left:390px;
}

.imgbanane
{
	position:absolute;
	z-index:1;
	top:121px;
	left:251px;
}

.menuwrap
{
	display: none;
}

.wrap1
{
	max-width:1234px;
	margin-left: auto;
	margin-right:auto;
	padding: 0 40px;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

.divcroix
{
	padding: 35px 0;
	display: flex;
	justify-content: right;
	transform:translateX(2%);

}

.menu
{
	z-index:20;
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	background-color: #001F5F;
	position: fixed;
	transform: translateX(-100%);
	transition-duration: 1s;
	overflow: hidden;
}

.menu li 
{
    width: 100%;
}


.menu ul 
{
    text-align: center;
    line-height: 30px;
}

.menu li a
{
	color:white;
	font-size:18px;
	text-decoration: none;
}

.menu nav
{
	width:100%;
	margin-top: 150px;
	align-items:center;
	display: flex;
	flex-direction: column;
}

.menu.active
{
	transform: translateX(0%);
	transition-duration: 1s;
}

.js-scrollTo
{
position: absolute;

left: 0;

right: 0;

bottom: 30px;

margin: auto;

display: block;

text-align: center;

width: 47px;

z-index: 10;
}