footer
{
	display: flex;
	background-color: #242424;
	color:#FFF;
	font-family: 'Roboto', sans-serif;
	padding-top: 90px;
	padding-bottom: 98px;
	justify-content: center;

}

.wrap
{
	position:relative;
}

.mainContainer
{
	display: flex;
	flex-direction: column;
	align-items: center;
	width:50%;
}

.mainContainer p
{
	font-size: 16px;
	text-align: center;
	line-height: 25px;
	margin-top: 77px;
	margin-bottom: 48px;
}

.mainContainer h4
{
	font-size: 12px;
	letter-spacing: 2px;
	text-align: center;

}

.reseauxContainer
{
	position: absolute;
	left: 143px;
	top: 117px;
}

.twitter
{
	margin: 0 14px;
}